.mainLogo{
    box-shadow: 0 10px 40px rgb(170, 2, 94);
    position: relative;
    height: 400px;
    background-image: url(../img/set-vector-splashes-red-wine-1452563.jpg);
}

.mainLogo div{
    border-radius: 10px;
    top: 78px;
    left: 60px;
    position: absolute;
    padding: 40px;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 260px;
}
.mainLogo h2{
    margin-bottom: 30px;
}
.mainLogo p{
    font-size: 18px;
}

.mainInfa{
    position: relative;
}
.infaComp{
    top: 40px;
    left: 20px;
    position: absolute;
    width: 700px;
}
.infaComp p{
    margin-top: 20px;
}
.infaZ1{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
