*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}

body{
    /* background-image: url(../img/photo_2022-01-29_15-01-38.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
}
header{
    background: linear-gradient(45deg, rgb(69, 5, 5) 10%, rgb(182, 82, 82) 90%);
    border-bottom: 1px solid rgb(205, 133, 63);
    backdrop-filter: blur(100px);
}

.headEr{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.flagNav li{
    display: inline-block;
}
.flagNav ul{
    display: flex;
}

.flagNav{
    width: 200px;
    height: 100px;
    position: absolute;
    right: -92px;
    top: 10px;
}
.translate img{
    width: 40px;
    height: 30px;
}

.logo h1{
    color: rgb(182, 82, 82);
    margin: 30px 0 0 0;
    text-align: center;
    text-shadow: 0 2px 10px black;
    font-size: 100px !important;
    font-family: American Typewriter;
}
.logo p{
    color: rgb(182, 82, 82);
    font-family: American Typewriter;
    font-size: 12px;
    text-align: center;
}
.logo{
    padding-right: 10px;
    border-right: 1px solid rgb(205, 133, 63, 0.5);
    width: 300px;
    height: 200px;
}

.headMenu ul{
    padding: 0;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.headMenu ul li{
    padding-right: 10px;
    display: inline-block;
}
.headMenu ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
}
.headMenu ul li a:hover{
    color: rgb(175, 0, 0);
}

.headMenu ul li:nth-child(6){
    padding: 0 0 0 60px;
}
.headMenu ul li:nth-child(6) a{
    border: 1px solid rgb(100, 5, 5);
    background-color: rgb(100, 5, 5, 0.5);
}

.headMenu ul li:nth-child(6) a:hover{
    color: rgb(100, 5, 5);
    border: 1px solid rgb(100, 5, 5);
    background-color: unset;
}

main{
    padding-bottom: 80px;
    /* background: linear-gradient(0deg, rgba(205, 133, 63) 10%, rgba(252, 252, 252, 0)80%); */
}

.slider {
    position: relative;
    width: 1300px;
    margin: auto;
    margin-bottom: 40px;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}
.slider input[name="switch"] {
    display: none;
}
.switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}
.switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
}
#btn1:checked~.switch label[for="btn1"] {
    background-color: white;
}
  
#btn2:checked~.switch label[for="btn2"] {
    background-color: white;
}
  
#btn3:checked~.switch label[for="btn3"] {
    background-color: white;
}
.slider-inner {
    overflow: hidden;
}
  
.slides {
    width: 300%;
    transition: all 0.5s;
}
.slides img {
    width: 1300px;
    height: 500px;
    float: left;
}
#btn1:checked~.slider-inner slides {
    transform: translate(0);
}
  
#btn2:checked~.slider-inner .slides {
    transform: translate(-1300px);
}
  
#btn3:checked~.slider-inner .slides {
    transform: translate(-2600px);
}
  

.mainBack{
    background-image: url(../img/1.png);
    background-size: cover;
}

.global{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-top: 20px;
}

.global a{
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(205, 133, 63);
    padding: 10px;
    position: relative;
    text-align: center;
    backdrop-filter: blur(100px);
    display: inline-block;
    width: 300px;
    height: 340px;
    text-decoration: none;
    color: black;
}
.global a div{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.global a:hover div{
    border-bottom: 1px solid rgb(205, 133, 63);
}
.global a p{
    padding: 10px;
    font-size: 16px;
    color: black;
    padding-top: 10px;
}

.global a:hover{
    color: rgb(205, 133, 63);
}

.global a img{
    position: absolute;
    left: 80px;
    top: 180px;
    width: 140px;
    height: 140px;
}

footer{
    background-color: rgb(205, 133, 63);
}

.backg4{
    padding-top: 40px;
    padding-bottom: 200px;
}

.backg4 h2{
    margin-bottom: 30px;
    text-align: center;
}

/* .headMenu{
    position: relative;
    width: 100%;
}
.headMenu ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.headMenu ul li{
    width: 126px;
    height: 44px;
    display: block;
}

.headMenu li:nth-child(3){
    width:220px;
}
.headMenu li:nth-child(1) a{
    width: 110px;
    padding: 10px 17px;
}
.menu{
    position: absolute;
    top: 44px;
}
.menu li{
    width: 126px;
    height: 44px;
}
.menu li:nth-child(1) a{
    padding: 10px;
    border:1px solid black;
}
.menu li:nth-child(2) a{
    padding: 10px 52px 10px 10px;
    border:1px solid black;
}
.menu li:nth-child(3) a{
    padding: 10px 60px 10px 10px;
    border:1px solid black;
}
.headMenu ul li a{
    color: rgba(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 5px 26px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    backdrop-filter: blur(100px);
    position: absolute;
    text-decoration: none;
} */




/* nav{
    width: 100%;
}

nav li{
    border-radius: 5px;
    box-shadow: 0px 8px 40px rgb(255 255 255 / 25%);
    padding: 10px;
    margin-right: 92px;
    display: inline-block;
    backdrop-filter: blur(100px);
} */

/* nav li a{
    
    padding: 10px;
    color: rgb(61, 61, 61);
    text-decoration: none;
}
nav li a:hover{
    color: rgb(0, 0, 0);
}

nav li:hover{
    background-color: rgba(175, 167, 167, 0.295);
}

nav li:last-child{
    margin-right: 0;
}

.menu li{
    margin: 5px 0 5px 0;
    display: block;
}
ul{
    padding-right: 0;
} */





.headMenu li ul{
    display:none;
}
.headMenu li:hover > ul{
    display: block;
}

.backFot{
    background-image: url(../img/абстрактное-водяное-пятно-красного-вина-изолированное-на-белом-фоне-165086055.jpg);
}

.carousel{
    margin: auto;
    /* background: #1B1E22; */
    width: 700px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 0px 2px 40px rgba(255, 255, 255, 0.25);
    background-color: rgba(252, 252, 252, 0.4);
}
.carousel-item p{
    margin-bottom: 0;
    box-sizing: content-box;
    padding-top: 160px;
    color: #1b1b1b;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}
.carousel-item .ComName {
    padding-top: 5px;
    box-sizing: content-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFB800;
}

.carousel-item .d-block {
    top: 35px;
    left: 305px;
    position: absolute;
    width: 96px !important;
    height: 96px;
    border-radius: 50px 50px;
}
.carousel-item .group{
    width: 64px !important;
    height: 56px !important;
    top: 150px;
    left: 320px;
    position: absolute;
    border-radius: 0;
}


.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 10px 10px;
    border: none;
}